table.tabella-dati-albo{
	padding-left: 10px;
	margin-top: 10px;
	width: 100%;
	text-align:left;
}

.finestra_ricerca{
	border: thin outset Black;
	padding: 1px;
	background-color: #F4F4F4;
}

div.ricerca{
	border: thin solid Black;
	padding: 2px;
	font-size: 1em;
}
div.ricerca_col_SX{
	float: left;
	display: inline;
	width:64%;
}
div.ricerca_col_DX{
	float:right;
	width:35%;
	font-size: 1em;
}
div.ricerca_col_DX a{
	font-size: 0.8em;
}

div.ricerca .Titolo{
	text-align: center;
}

div.Visallegato{
	width: 100%;
	border: thin dashed;
	font-size: 1em;
}

div.Visallegato .Allegato{
	float: left;
	display: inline;
	width: 60px;
	height: 60px;
}

div.Visalbo{
	width: 99%;
	font-size: 1em;
}
.tabVisalbo{
	width: 100%;
	clear: both;
	margin: 0px;
}

.tabVisalbo td{
	vertical-align: top;
	line-height: 1.5em;
	background-color: #F3F3F3;
	padding: 5px;
	font-size: 1em;
}

.tabVisalbo th{
	text-transform: capitalize;
	text-align: right;
	font-size: 1.1em;
	font-weight: bold;
	width: 200px;
	padding-right: 5px;
}
.tabVisResp{
	width: 100%;
	clear: both;
	margin: 0px;
}
.tabVisResp td{
	font-size: 1em;
	vertical-align: top;
	line-height: 1.5em;
	padding: 5px;
	font-size: 1em;
}
.tabVisResp tr{
	border: none;
}
.tabVisResp th{
	text-transform: capitalize;
	text-align: right;
	font-size: 1.1em;
	font-weight: bold;
	width: 200px;
	padding-right: 5px;
}

.tabalbo{
	width: 100%;
	clear: both;
	margin: 0px;
}
.tabalbo a{
	text-decoration:none;
}
.tabalbo td{
	font-size: 1em;
	padding: 4px 4px 4px;
	vertical-align: top;
	text-align: left;
}

.tabalbo thead th{
	text-transform: capitalize;
	padding: 4px 4px 4px;
	text-align: left;
	line-height: 1.3em;
	font-size: 1.1em;
	font-weight: bold;
}
.tabalbo th.FE{
	text-transform: capitalize;
	text-align: right;
	font-size: 0.8em;
	font-weight: bold;
	width: 160px;
	padding-right: 5px;
}
a.pagina:hover {
	border-color: #999;
}

a.pagina {
	height: 20px;
	width: 50px;
	background-color: #999;
}
.tablenav-pages{
 	float:right;
	display:block;
	cursor:default;
	height:30px;
	line-height:30px;
	font-size:0.9em;}
	
.tablenav .tablenav-pages a,.tablenav-pages span.current{
 	text-decoration:none;
 	border:none;
	padding:3px 6px;
	border-width:1px;
	border-style:solid;
}
.tablenav{
 	margin-right:10px;
	font-size:0.9em;
	font-style:italic;}
.tablenav .actions{
 	padding:2px 8px 0 0;}
.tablenav .tablenav-pages{
 	color:#555;}
.tablenav .tablenav-pages a{
 	border-color:#e3e3e3;
	background:#eee}
.tablenav .tablenav-pages a:hover{
 	color:#d54e21;
	border-color:#d54321;}
.tablenav .tablenav-pages a:active{
 	color:#fff!important;}
.tablenav .tablenav-pages .current{
 	background:#dfdfdf;
	border-color:#d3d3d3;}
ul.lista{
	list-style-type:square;
	font-weight: bold;
	font-style: italic;
}
